.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px black;
    background-color: #1f1b1f;
    padding-left: 20px;
}

.header .toggle-sidebar-btn {
    font-size: 32px;
    color: var(--primary);
    cursor: pointer;
    padding-left: 10px;
}